kind: Role
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: console-operator
  namespace: openshift-config-managed
rules:
- apiGroups:
  - ""
  resources:
  - configmaps
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - ""
  resources:
  - configmaps
  resourceNames:
  - console-public
  verbs:
  - update
---
kind: Role
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: console-public
  namespace: openshift-config-managed
rules:
- apiGroups:
  - ""
  resources:
  - configmaps
  resourceNames:
  - console-public
  verbs:
  - get
---
kind: Role
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: console-configmap-reader
  namespace: openshift-config-managed
rules:
- apiGroups:
  - ""
  resources:
  - configmaps
  verbs:
  - get
  - list
  - watch
