apiVersion: apps/v1
kind: Deployment
metadata:
  name: console-operator
  namespace: openshift-console
spec:
  replicas: 1
  selector:
    matchLabels:
      name: console-operator
  template:
    metadata:
      labels:
        name: console-operator
    spec:
      containers:
        - name: console-operator
          image: quay.io/benjaminapetersen/console-operator:v0.0.4
          ports:
          - containerPort: 60000
            name: metrics
          command:
          - console-operator
          imagePullPolicy: Always
          env:
            - name: WATCH_NAMESPACE
              valueFrom:
                fieldRef:
                  fieldPath: metadata.namespace
            - name: OPERATOR_NAME
              value: "console-operator"
